body{
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: #ced8e1;
}


.bg_dark {
    background: #122d3f;
}

.bg_violet {
    background: #6b64e4;
}

.cl_dark {
    color: #122d3f;
}

.cl_violet {
    color: #6b64e4;
}


.menu {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15vh;
    padding-left: 15vh;
    margin: 0;
}

.menu_left {
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
}

.menu_right {
    width: 10vh;
    display: flex;
    justify-content: space-between;
}

.menu_right_icon {
    font-size: 25px;
}


.header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_top {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_top_h2 {
    margin-bottom: 0;
    margin-top: 18vh;
}

.header_top_button {
    width: 20vh;
    height: 4vh;
    border: none;
    border-radius: 20px;
}

.header_top_button:hover {
    background: #ced8e1;
}

.header_bottom {
    width: 120vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 8vh;
}

.header_bottom_box {
    height: 35vh;
    width: 35vh;
    border-radius: 10px;
}

.header_bottom_box:hover {
    box-shadow: 4px 4px 6px #000000;
}


.main {
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_first {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4vh;
    column-gap: 3%;
}


.main_second {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 4vh;
}

.main_second_rectangle {
    width: 73vh;
}

.main_second_rectangle_box {
    height: 35vh;
    width: 73vh;
    border-radius: 10px;
}


.main_third {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_third_block {
    width: 40vh;
    height: 25vh;
    border-radius: 10px;
}


.main_fourth {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.main_fourth_circle {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
}

.main_fourth_content {
    width: 120vh;
}

.second_page_button {
    border: none;
    height: 5vh;
    width: 25vh;
    border-radius: 10vh;
    margin-bottom: 7vh;
}


.footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer_top {
    width: 25vh;
    display: flex;
    justify-content: space-between;
}

.footer_top_box {
    width: 7vh;
    height: 7vh;
    border-radius: 10%;
}

.footer_bottom {
    width: 46vh;
    display: flex;
    justify-content: space-between;
}

.footer_bottom_line {
    height: 0.8vh;
    width: 10vh;
    border-radius: 10px;
}
