@media screen and (min-width: 0) and (max-width: 762px) {

    .target {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
    }
    .bc {
        flex-direction: column;
        padding-top: 0;
    }

    .bd-rad {
        border-radius: 10px;
    }

    .a, .bc {
        width: 90%;
    }

    .b {
        height: 46vh;
        width: 100%;
        margin-bottom: 1.5em;
    }
    .c {
        height: 20vh;
        width: 100%;
    }
}
