.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.card {
    border: 2px solid #a1a1a1;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 4vh;
    position: relative;
    z-index: -1;
}

.icon {
    height: 4rem;
    width: 4rem;
    border: 2px solid #a1a1a1;
    border-radius: 50%;
    color: #ec9216;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    bottom: 90%;
    z-index: 1;
    background: #FFFFFF;
}

p {
    text-align: center;
    font-size: 110%;
}

button {
    width: 100%;
    height: 3rem;
    background: #FFFFFF;
    font-size: large;
}